corpo {
    margine: 60 px automatico;
    larghezza: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    imbottitura: 0px;
    stile elenco: nessuno;
    font-weight: grassetto;
}
nav ul li, footer ul li {
    display: in linea;
    margine destro: 20px;
}
un {
    decorazione del testo: nessuna;
    colore: #999;
}
a:hover {
    decorazione del testo: sottolineatura;
}
h1 {
    dimensione del carattere: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
P {
    dimensione del carattere: 1.5em;
    altezza della linea: 1.4em;
    colore: #333;
}
piè di pagina {
    bordo-alto: 1px solido #d5d5d5;
    dimensione del carattere: .8em;
}

ul.posts { 
    margine: 20px automatico 40px; 
    dimensione del carattere: 1.5em;
}

ul.posts li {
    stile elenco: nessuno;
}
Non dimenticare di eseguire il co
